APP_PORT=8080
LOG_FORMAT=pretty # pretty, json

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=appointment
DB_SSLMODE=disable

# OTEL_EXPORTER_OTLP_ENDPOINT=http://alloy:4317